.page {
  background: #2a2c2f;
  background-size: screen;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
@media screen and (max-width: 1280px) {
  .page {
    width: 100vw;
  }
}
@media screen and (max-width: 1024px) {
  .page {
    width: 100vw;
  }
}
@media screen and (max-width: 768px) {
  .page {
    width: 100vw;
  }
}
