.footer__two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
@media screen and (max-width: 767px) {
  .footer__two-columns {
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
}
