.footer {
  width: calc(1280px - 96px);
  margin: 92px auto 0;
  padding-bottom: 24px;
}
@media screen and (max-width: 1280px) {
  .footer {
    width: calc(1024px - 96px);
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    width: calc(768px - 48px);
  }
}
@media screen and (max-width: 768px) {
  .footer {
    width: calc(320px - 32px);
    margin: 32px auto 0;
  }
}
